name: Factory (Firmware)

on:
  push:
    paths:
      - '**.ino'
      - '**.h'
      - '.github/workflows/build_firmware.yml'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  forge-ammo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Install Digispark Core
        run: |
          arduino-cli config init
          arduino-cli config add board_manager.additional_urls https://raw.githubusercontent.com/digistump/arduino-boards-index/master/package_digistump_index.json
          arduino-cli core update-index
          arduino-cli core install digistump:avr

      - name: Compile SINGLE LED
        run: |
          mkdir -p dist
          # Staging
          mkdir -p build/single_env/Sketch
          cp TheRevolver.ino build/single_env/Sketch/Sketch.ino
          cp config.h build/single_env/Sketch/config.h
          
          # Patch Config
          sed -i 's/#define DUAL_LED_MODE 1/#define DUAL_LED_MODE 0/' build/single_env/Sketch/config.h
          
          # Compile
          arduino-cli compile --fqbn digistump:avr:digispark-tiny --output-dir ./build/single build/single_env/Sketch
          
          # Extract
          find ./build/single -maxdepth 1 -name "*.hex" ! -name "*bootloader*" -exec cp {} ./dist/roulette_single.hex \;

      - name: Compile DUAL LED
        run: |
          # Staging
          mkdir -p build/dual_env/Sketch
          cp TheRevolver.ino build/dual_env/Sketch/Sketch.ino
          cp config.h build/dual_env/Sketch/config.h
          
          # Patch Config
          sed -i 's/#define DUAL_LED_MODE 0/#define DUAL_LED_MODE 1/' build/dual_env/Sketch/config.h
          
          # Compile
          arduino-cli compile --fqbn digistump:avr:digispark-tiny --output-dir ./build/dual build/dual_env/Sketch
          
          # Extract
          find ./build/dual -maxdepth 1 -name "*.hex" ! -name "*bootloader*" -exec cp {} ./dist/roulette_dual.hex \;

      - name: Ship to Bunker
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          destination_dir: firmware  # CRITICAL: Isolate artifacts
          keep_files: true
          commit_message: "Reload: Factory Output -> /firmware"
